.toggle-button {
  border-radius: 10px;
  height: 13px;
  width: 50px;
  border-width: 1px;
  font-size: 8px;

  &--on {
    background-color: green;
    color: white;
    border: 1px solid darkgreen;
  }
}
