.basic-lock {
  width: 100%;

  &-heading {
    display: flex;
    justify-content: space-between;

    &-status {
      color: #404040;
      font-style: italic;
    }
  }

  &-controls {
    margin-top: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &-capabilities {
    display: flex;
    flex-direction: column;
  }

  &-status {
    &--active {
      color: #3366ff;
    }

    &--unavailable {
      color: red;
    }
  }
}
