.other-device {
  &-controls {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 5px;
  }

  &-level {
    &-wrapper {
      display: flex;
      align-items: center;
      justify-content: flex-end;
    }

    &-text {
      width: 12px;
      margin-left: 5px;
    }
  }

  &-slider {
    margin: 0;
    width: 66%;
  }
}
