.pagination {
  &-button-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 20px;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
  }
}
